.question-card {
  box-shadow: 0 3px 10px #ccc;
  margin-top: 3rem;
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  text-transform: capitalize;
  font-size: 2rem;
}

button {
  border: none;
  color: #fff;
  background-color: #164e63;
  font-weight: 100;
  width: 4rem;
  height: 4rem;
  border-radius: 100px;
  cursor: pointer;
}

svg {
  vertical-align: -2px;
}

p {
  line-height: 1.5;
  color: #666;
  margin-top: 2rem;
}
