.color {
  width: 20%;
  padding: 2rem;
  cursor: pointer;
  transition: 0.1s linear;
}

.color:hover {
  transform: scale(1.05);
}

.color-light {
  color: #fff;
}

/* *************************************** */
/* Media Style */
/* *************************************** */
/* Default work done at 2560px */

/* Extra Large 1729px ~ 1920px */
@media only screen and (max-width: 1920px) {
}

/* Large laptop to Desktop: 1324px ~ 1728px */
@media only screen and (max-width: 1728px) {
}

/* Medium Tablet to Laptop: 848px ~ 1323px */
@media only screen and (max-width: 1323px) {
  .color {
    width: 25%;
  }
}

/* Small Phone to Tablet: 403px ~ 847px */
@media only screen and (max-width: 847px) {
  .color {
    width: 33.33%;
  }
}

/* Extra small phone to Phone: 0px ~ 402px */
@media only screen and (max-width: 402px) {
  .color {
    width: 50%;
  }
}
