.form-container,
form {
  display: flex;
}

.form-container {
  align-items: center;
  gap: 3rem;
  padding: 3rem;
  text-transform: capitalize;
}

form > * {
  border: none;
  background-color: #fff;
}

input[type="color"] {
  height: auto;
}

input[type="text"] {
  color: #bbb;
  font-size: 1.8rem;
  padding: 1.5rem;
}

button {
  text-transform: capitalize;
  color: #fff;
  font-size: 1.8rem;
  padding: 1rem;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.color-dark {
  color: inherit;
}

/* *************************************** */
/* Media Style */
/* *************************************** */
/* Default work done at 2560px */

/* Extra Large 1729px ~ 1920px */
@media only screen and (max-width: 1920px) {
}

/* Large laptop to Desktop: 1324px ~ 1728px */
@media only screen and (max-width: 1728px) {
}

/* Medium Tablet to Laptop: 848px ~ 1323px */
@media only screen and (max-width: 1323px) {
  
}

/* Small Phone to Tablet: 403px ~ 847px */
@media only screen and (max-width: 847px) {
  .form-container {
    flex-direction: column;
  }
}

/* Extra small phone to Phone: 0px ~ 402px */
@media only screen and (max-width: 402px) {
}
