.container {
  width: 30%;
  max-width: 1000px;
  margin: 25vh auto;
  box-shadow: 0 0 10px #ccc;
  background-color: #fff;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  width: 7vw;
  height: 7vw;
  min-width: 110px;
  min-height: 110px;
  border-radius: 100%;
  position: relative;
}

.image-container::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -1rem;
  right: -1rem;
  border-radius: 100%;
  background-color: #645cff;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
  position: relative;
  z-index: 1;
}

.image-container span {
  display: inline-block;
  color: #fff;
  background-color: #645cff;
  border-radius: 100%;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.image-container svg {
  vertical-align: middle;
}

h2,
h3 {
  font-weight: 400;
  letter-spacing: 1px;
}

h2 {
  font-size: 3rem;
  margin-top: 2rem;
  text-transform: capitalize;
}

h3 {
  font-size: 1.5rem;
  color: #645cff;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

p {
  text-align: center;
  line-height: 1.5;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #645cff;
}

.btn-container {
  margin: 1.5rem;
}

.btn-container > * {
  font-size: 4rem;
}

.btn-random {
  background-color: #c1beff;
  color: #645cff;
  padding: 1rem 2rem;
  border-radius: 5px;
  text-transform: capitalize;
  font-size: 2rem;
  transition: 0.2s linear;
}

.btn-random:hover {
  color: #c1beff;
  background-color: #645cff;
}

/* *************************************** */
/* Media Style */
/* *************************************** */
/* Default work done at 2560px */

/* Extra Large 1729px ~ 1920px */
@media only screen and (max-width: 1920px) {
}

/* Large laptop to Desktop: 1324px ~ 1728px */
@media only screen and (max-width: 1728px) {
}

/* Medium Tablet to Laptop: 848px ~ 1323px */
@media only screen and (max-width: 1323px) {
  .container {
    width: 50%;
  }
}

/* Small Phone to Tablet: 403px ~ 847px */
@media only screen and (max-width: 847px) {
  .container {
    width: 70%;
  }
}

/* Extra small phone to Phone: 0px ~ 402px */
@media only screen and (max-width: 402px) {
  .container {
    width: 85%;
  }
}
