/* ------------------------------------------------ */
/* Global Styles */
/* ------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font: 1.6rem sans-serif;
  color: #343a40;
  background-color: #f8fafc;
}

section {
  width: 60%;
  max-width: 1500px;
  padding-top: 10rem;
  margin: auto;
  display: flex;
}

/* *************************************** */
/* Media Style */
/* *************************************** */
/* Default work done at 2560px */

/* Extra Large 1729px ~ 1920px */
@media only screen and (max-width: 1920px) {
  html {
    font-size: 58%;
  }
}

/* Large laptop to Desktop: 1324px ~ 1728px */
@media only screen and (max-width: 1728px) {
  html {
    font-size: 56%;
  }
}

/* Medium Tablet to Laptop: 848px ~ 1323px */
@media only screen and (max-width: 1323px) {
  html {
    font-size: 53%;
  }
}

/* Small Phone to Tablet: 403px ~ 847px */
@media only screen and (max-width: 847px) {
  html {
    font-size: 50%;
  }

  section {
    width: 70%;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
}

/* Extra small phone to Phone: 0px ~ 402px */
@media only screen and (max-width: 402px) {
  html {
    font-size: 48%;
  }

  section {
    width: 85%;
    
  }
}
